@charset "UTF-8";

@import "_variables";
@import "compass";

html, body {
  color: $primary-text-color;
  background: $secondary-color;
  font-family: 'Droid Sans', sans-serif;
}

.clearfix {
  @include clearfix;
}