@charset "UTF-8";

@import "../../bower_components/foundation/scss/foundation/components/global";

/*
 * My own variables
 */
$font-family: "Droid Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$primary-color: #424853;
$primary-color-lighter: lighten($primary-color, 10%);
$primary-color-darker: darken($primary-color, 10%);
$secondary-color: #ebeced;
$green-color: #68bb42;
$facebook-blue-color: #3B5998;
$primary-text-color: #555;
$secondary-text-color: #eee;
$border-color: #ddd;
$button-lrg: em-calc(14);
$button-med: em-calc(8);
$button-sml: em-calc(6);
$button-tny: em-calc(4);
$button-corner-radius: 0;
$text-lrg: em-calc(24);
$text-med: em-calc(15);
$text-sml: em-calc(13);
$text-tny: em-calc(10);

/*
 * Foundation variables
 */
$column-gutter: em-calc(15);

// OFF CANVAS VARIABLES
// Off Canvas Tab Bar Variables
$tabbar-bg: $primary-color;
$tabbar-color: $primary-text-color;

// Off Canvas Tab Bar Headers
$tabbar-header-color: $primary-text-color;

// Off Canvas Menu Variables
$off-canvas-bg: $primary-color;

// Off Canvas Menu List Variables
$off-canvas-label-padding: 0.3rem rem-calc(15) !default;
$off-canvas-label-color: $secondary-text-color;
$off-canvas-label-bg: $primary-color-lighter;
$off-canvas-label-border-top: 1px solid lighten($secondary-color, 10%) !default;
$off-canvas-link-color: rgba($secondary-text-color, 0.7) !default;