@charset "UTF-8";

@import "../../bower_components/foundation/scss/foundation/components/global";
@import "../../bower_components/foundation/scss/foundation/components/grid";
@import "../../bower_components/foundation/scss/foundation/components/type";
@import "../../bower_components/foundation/scss/foundation/components/buttons";
@import "../../bower_components/foundation/scss/foundation/components/panels";
@import "../../bower_components/foundation/scss/foundation/components/labels";
@import "../../bower_components/foundation/scss/foundation/components/orbit"; /* needed for placeholder */

@import "variables";
@import "compass";

.comments {
  text-align: left;

  .comment {
    display: table;
    margin-top: 1.25em;
    font-size: .9em;

    .comment-img, .comment-body {
      display: table-cell;
    }

    .comment-img {
      width: 50px;
      height: 50px;
    }

    .comment-body {
      padding-left: 1em;

      .attribution {
        margin-bottom: 0;
      }
    }
  }
}

.comment-panel {
  @include panel($primary-color, 1em, false);
  color: $background-color;
}