@charset "UTF-8";

@import "../../bower_components/foundation/scss/normalize";
@import "../../bower_components/foundation/scss/foundation";
@import "compass";
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

html, body {
  font-family: 'Droid Sans', sans-serif;
  color: #333;
}

h1, h2, h3, h4, h5, p, li, figcaption, figcaption a, figcaption small {
  font-family: 'Droid Sans', sans-serif;
}

.large-centered {
  text-align: center;
}
.item-row {
  min-height: 100px;
  .preloader {
    margin-top: 13px;
  }
}

.clearfix {
  @include clearfix;
}

figure {
  position: relative;
  overflow: hidden;
  text-align: left;
  display: block;

  img {
    width: 100%;
  }

  figcaption {
    width: 100%;
    position: absolute;
    background: black;
    background: rgba(0,0,0,0.75);
    color: white;
    padding: 10px;
    opacity: 0.9;

    h6 {
      color: white;
      font-weight: normal;
    }

    .button {
      margin-bottom: 0;
    }
  }
}

.cap-bottom figcaption { left: 0; bottom: 0; }

#welcome-text {
  margin-top: 1em;
}