@charset "UTF-8";

$primary-color: #424853;
$background-color: #ebeced;
$facebook-blue: #3B5998;
$button-function-factor: 3%;
$header-font-family: "Droid Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$body-font-family: "Droid Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;